<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tres en línea</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <section class="container">
        <div class="header">
            <div class="turns">
                <select name="" id=""></select>
            </div>
            <div class="turns">
                <button class="btn">X</button>
                <button class="btn">O</button>
            </div>
            <div class="turns">
                <input type="text">
            </div>
        </div>
        <div class="item contenido">
            <div class="item c0" onclick="darclic(0)">item0</div>
            <div class="item c1" onclick="darclic(1)">item1</div>
            <div class="item c2" onclick="darclic(2)">item2</div>
            <div class="item c3" onclick="darclic(3)">item3</div>
            <div class="item c4" onclick="darclic(4)">item4</div>
            <div class="item c5" onclick="darclic(5)">item5</div>
            <div class="item c6" onclick="darclic(6)">item6</div>
            <div class="item c7" onclick="darclic(7)">item7</div>
            <div class="item c8" onclick="darclic(8)">item8</div>
        </div>
        <div class="footer"> 
            <button>Restart Game</button> 
        </div>
    </section>
</body>
</html>