<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tres en línea</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <section class="container">
        <div class="header">
            <div class="turns">
                <select name="" id=""></select>
            </div>
            <div class="turns">
                <button class="btn">X</button>
                <button class="btn">O</button>
            </div>
            <div class="turns">
                <input type="text">
            </div>
        </div>
        <div class="item contenido">
            <div class="item c1">item1</div>
            <div class="item c2">item2</div>
            <div class="item c3">item3</div>
            <div class="item c4">item4</div>
            <div class="item c5">item5</div>
            <div class="item c6">item6</div>
            <div class="item c7">item7</div>
            <div class="item c8">item8</div>
            <div class="item c9">item9</div>
        </div>
        <div class="footer"> 
            <button>Restart Game</button> 
        </div>
    </section>
</body>
</html>