.header {
  grid-area: header;
  padding: 20px;
}

.newGame {
  text-align: left;
}

.userFormContainer {
  position: absolute;
  width: 100vw;
  top: 40%;
  text-align: center;
  margin: -20px;
  padding: 0;
}

.usersForm {
  display: inline-block;
  padding: 15px;
  border: 2px solid #ffffff;
  border-radius: 5px;
}
