.header {
  grid-area: header;
  padding: 20px;
}

.newGame {
  text-align: center;
}

.userFormContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  text-align: center;
  margin: -20px;
  padding: 0;
  background: #788BC9;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 0;
}

.usersForm {
  display: inline-block;
  padding: 15px;
  border: 2px solid #ffffff;
  border-radius: 5px;
}

.inputContainer {
  text-align: left;
}

.userError {
  color: #ad0e0e;
  font-size: 12PX;
  padding-left: 5px; 
  display: inline-block;
  margin-bottom: 5px;
}
